services:
  web:
    container_name: web
    build:
      context: .
    ports:
      - "8000:8000"
    command: ["sh", "-c", "./wait-for-it.sh eventify_db:5432 -- ./start.sh"]
    volumes:
        - .:/app
    env_file:
      - .env
    depends_on:
      - eventify_db

  eventify_db:
    container_name: database
    image: postgres:15
    platform: linux/amd64
    restart: always
    volumes:
      - eventify_db_data:/var/lib/postgresql/data
    environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        POSTGRES_DB: ${POSTGRES_DB}

  redis:
    container_name: eventify_redis
    image: redis:7-alpine
    platform: linux/amd64
    ports:
      - "6379:6379"

  celery:
    container_name: celery
    build:
      context: .
    command: celery -A eventify worker -l info
    depends_on:
      - web
      - redis

  celery_beat:
    container_name: celery_beat
    build: .
    command: celery -A eventify beat -l info
    depends_on:
      - web
      - redis

volumes:
  eventify_db_data:
  web_data:
